main{
	overflow: hidden;
}

.kv{
	.money{
		position: absolute;
		left: 57%;
		top: 33%;
		width: 36%;

		@media (min-width: $media_sm) {
			left: 60%;
			top: -8%;
			width: 20%;
		}
	}
}

.extra{
	.money{
		position: absolute;
		left: 80%;
    top: -170%;
		width: 36%;
	}
}

.money{
	.money-1, .money-2, .money-3, .money-4, .money-5{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.money-1{
		animation: money1 2s infinite;
	}

	.money-2{
		animation: money2 2s infinite;
	}

	.money-3{
		animation: money3 1.5s infinite;
	}

	.money-4{
		animation: money4 2s infinite ease-in;
	}

	.money-5{
		animation: money5 2s infinite ease-out;
	}

	@keyframes money1 {
		0% {opacity: 0;}
		50%{opacity: 1;}
		100% {opacity: 0}
	}

	@keyframes money2 {
		0% {opacity: 1}
		30% {opacity: 0}
		100%{opacity: 1}
	}

	@keyframes money3 {
		0% {opacity: 1}
		60% {opacity: 0}
		100%{opacity: 1}
	}

	@keyframes money4 {
		0% {top: 0%}
		50% {top: 3%}
		100%{top: 0%}
	}

	@keyframes money5 {
		0% {top: 0%;}
		70% {top: -3.5%}
		100%{top: 0%}
	}
}

.kv{
	.kv-con{
		position: relative;
		margin-top: 16%;
		padding-top: 120%;

		@media (min-width: $media_sm) {
			margin-top: 6%;
			padding-top: 44%;
			// padding-top: 640px;
		}

		.txt{
			position: absolute;
			left: 6%;
			top: 0;
			width: 88%;

			@media (min-width: $media_sm) {
				left: 14%;
				top: 0;
				width: 25%;
			}

			.bg{
				position: absolute;
				right: 20%;
				bottom: -100%;
				width: 1000%;
				height: 1000%;
				background: url(../images/extra/bg_dot.png);
				background-size: 6px auto;
				z-index: -1;

				@media (min-width: $media_sm) {
					right: -50%;
					bottom: -5%;
					background-size: 8px auto;
				}
			}

			.clock{
				position: absolute;
				left: 28%;
				top: 43%;
				width: 20%;
				@include transform(rotate(30deg));

				@media (min-width: $media_sm) {
					left: 45%;
					top: 34%;
					width: 29%;
				}
				
				.clock-pointer, .clock-frame{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%
				}
			}
		}

		.notebook{
			position: absolute;
			left: 30%;
    	top: 41%;
			width: 63%;

			@media (min-width: $media_sm) {
				left: 47%;
				top: 5%;
				width: 35%;
			}
		}

		.richart{
			position: absolute;
			left: 4%;
			top: 62%;
			width: 41%;

			@media (min-width: $media_sm) {
				left: 33%;
				top: 42%;
				width: 24%;
			}
		}

		.box{
			position: absolute;
			left: 60%;
			top: 90%;
			width: 36%;

			@media (min-width: $media_sm) {
				left: 13%;
				top: 87%;
				width: 23%;
			}
		}

		.hand{
			position: absolute;
			left: 60%;
			top: 65%;
			width: 70%;

			@media (min-width: $media_sm) {
				left: 63%;
				top: 39%;
				width: 56%;
			}
		}

		.richart-body{
			position: absolute;
			left: 75%;
			top: 19%;
			width: 22%;
		}

		.richart-hand{
			position: absolute;
			left: 87%;
			top: 38%;
			width: 6%;
		}
		
		.scroll-tips{
			position: absolute;
			left: 50%;
			bottom: -16%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			font-weight: 500;

			@include translateX(-50%);

			@media (min-width: $media_sm) {
				bottom: -28%;
			}

			p{
				font-size: 14px;
				color: white;
				margin-bottom: 0;
			}

			.arrow{
				width: 40%;
				animation: arrow 1.6s infinite ease-out;
			}

			@keyframes arrow {
				0% {@include translateY(0)}
				50%{@include translateY(-8px)}
				100% {@include translateY(0)}
			}
		}
	}
}

.intro, .statement{
	.content{
		overflow: hidden;
		margin-top: -1px;

		.title{
			display: inline-block;
			font-size: 24px;
			font-weight: 600;
			background-color: white;
			padding: 6px 20px;
			@include border-radius(60px);

			@media (min-width: $media_md) {
				padding: 10px 30px;
				font-size: 46px;
			}
		}

		.des{
			margin-bottom: 6%;
			font-size: 16px;
			font-weight: 500;
			color: white;

			@media (min-width: $media_md) {
				font-size: 32px;
			}

			.txt-yellow{
				color: #efe524;
				font-weight: 900;
				position: relative;

				&::after{
					content: '';
					position: absolute;
					left: 0;
					bottom: -4px;
					width: 100%;
					height: 2px;
					background-color: #efe524;
				}
			}

			.txt-big{
				font-size: 24px;

				@media (min-width: $media_md) {
					font-size: 46px;
				}
			}
		}

		.slide-dot{
			display: flex;
			justify-content: center;
			margin: 1% 0;

			.dot-con{
				display: flex;
				flex-direction: row;

				.dot{
					margin: 5px;
					width: 10px;
					height: 10px;
					background-color: white;
					@include border-radius(10px);

					&.active{
						background-color: #f2e53b;
					}
				}
			}
		}
	}
}

.intro{
	.content{
		background-color: #008cd6;
		padding: 0 1%;
		padding-top: 16%;
		padding-bottom: 8%;

		@media (min-width: $media_sm) {
			padding-top: 6%;
		}

		@media (min-width: 1600px) {
			padding-top: 2%;
		}

		@media (min-width: 1800px) {
			padding-top: 1%;
		}

		.features{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding: 4% 4% 0 4%; 
			margin-top: 16%;
			background-color: white;
			position: relative;
			z-index: 10;
		
			@include border-radius(10px);

			@media (min-width: $media_sm) {
				margin-top: 0%;
			}
			
			.icon{
				width: 22.5%;
				margin-top: -20%;
			}

			.txt{
				width: 80%;
				margin-top: 2%;
			}

			.pic{
				width: 50%;
			}
		}

		.xs-features{
			padding-top: 65%;
			position: relative;
			overflow: hidden;

			.features{
				position: absolute;
				left: 0%;
				top: 0;
				width: 100%;
			}

			.features-2, .features-3{
				left: 105%;
			}

			.arrow-prev{
				position: absolute;
				left: 2%;
				top: 50%;
				width: 6%;
				max-width: 30px;
				z-index: 100;
				cursor: pointer;
			}

			.arrow-next{
				position: absolute;
				right: 2%;
				top: 50%;
				width: 6%;
				max-width: 30px;
				z-index: 100;
				cursor: pointer;
			}
		}

		.md-features{
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			min-height: auto;
			position: relative;

			@media (min-width: $media_sm) {
				min-height: 150px;
			}
			@media (min-width: $media_md) {
				min-height: 200px;
			}
			@media (min-width: $media_lg) {
				min-height: 300px;
			}

			.arrow-prev{
				position: absolute;
				left: 2%;
				top: 50%;
				width: 6%;
				max-width: 30px;
				z-index: 100;
				cursor: pointer;
			}

			.arrow-next{
				position: absolute;
				right: 2%;
				top: 50%;
				width: 6%;
				max-width: 30px;
				z-index: 100;
				cursor: pointer;
			}
		}
	}
}

.statement{
	margin-top: -8%;
	
	.content{
		background: url('../images/statement/bg_point.png'); 
		background-size: cover;
		background-color: #0bc7d2;
		padding: 0 1%;
		padding-bottom: 4%;

		@media (min-width: $media_md) {
			padding-bottom: 0%;
		}

		.title{
			position: relative;

			.center-con{
				display: flex;
				justify-content: center;
				align-items: center;

				.logo{
					width: auto;
					height: 24px;
	
					@media (min-width: $media_md) {
						height: 46px;
					}
				}
			}

			.richart-head{
				position: absolute;
				right: -41%;
				top: -20%;
				width: 40%;
			}
		}

		.info-con{
			margin-bottom: 1%;
			overflow: hidden;
			border: 2px solid #3071d7;
			@include border-radius(10px);

			.arrow-prev{
				position: absolute;
				left: 2%;
				top: 45%;
				width: 6%;
				max-width: 40px;
				cursor: pointer;
			}

			.arrow-next{
				position: absolute;
				right: 2%;
				top: 45%;
				width: 6%;
				max-width: 40px;
				cursor: pointer;
			}

			.info{
				position: relative;
				padding-top: 56%;
				overflow: hidden;

				img{
					position: absolute;
					left: 0;
					top: 0;
				}

				.info-2{
					left: 100%;
				}
			}

			@media (min-width: $media_md) {
				@include border-radius(20px);
			}
		}

		.sub-title{
			margin-bottom: 1.5%;
			padding-left: 6%;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.3;
			background: url(../images/statement/icon_title.png) no-repeat;
			background-position:  3% 0;
			background-size: auto 100%;

			@media (min-width: $media_md) {
				padding-left: 3%;
				font-size: 32px;
				background-position:  1% 0;
			}
		}

		.tips{
			font-size: 12px;
			font-weight: 500;
			line-height: 1;
			padding-left: 2%;
			margin-left: 8%;
			margin-bottom: 4%;
			position: relative;

			@media (min-width: $media_md) {
				font-size: 20px;
				padding-left: 1%;
				margin-left: 4%;
				margin-bottom: 1%;
			}

			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 4px;
				height: 100%;
				background-color: white;
				@include border-radius(30px);

				@media (min-width: $media_md) {
					width: 6px;
				}
			}

			.txt-small{
				font-size: 12px;

				@media (min-width: $media_md) {
					font-size: 14px;
				}
			}
		}

		.bid{
			position: relative;
			margin-top: 40px;

			.bid-con{
				position: relative;
				padding: 12% 4%;
				z-index: 20;
				background-color: #00b347;
				justify-content: flex-start;
				@include border-radius(60px);

				@media (min-width: $media_md) {
					justify-content: center;
					padding: 6% 4%;
					@include border-radius(200px);
				}
			}

			&::after{
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: -40px;
				width: 50px;
				height: 40px;
				background: url(../images/statement/icon_arrow.png) no-repeat;
				background-size: cover;
				@include translateX(-50%);
			}

			.bid-des{
				color: white;
				font-size: 14px;
				font-weight: 400;
				line-height: 30px;
				margin-top: 6%;

				@media (min-width: $media_md) {
					margin-top: 0;
				}
				
				.txt-big{
					font-size: 20px;
					font-weight: 900;
					line-height: 30px;

					@media (min-width: $media_md) {
						font-size: 24px;
					}
				}

				.btn-rule{
					color: #fed530;
					text-decoration: underline;
				}
			}

			.btn-go{
				position: absolute;
				left: 50%;
				bottom: 5px;
				z-index: 30;
				color: black;
				font-size: 20px;
				font-weight: 500;
				line-height: 1;
				text-emphasis: none;
				white-space: nowrap;
				background-color: #fed530;
				padding: 10px 20px;
				display: flex;
				align-items: center;
				@include border-radius(200px);
				@include translate(-50%, 50%);

				@media (min-width: $media_md) {
					padding: 15px 30px;
					font-size: 24px;
				}

				&:hover, &:active, &:focus{
					text-decoration: none;
				}

				.arrow{
					width: 18px;
					margin-left: 8px;
					animation: btnArrow 1s infinite ease-out;

					@media (min-width: $media_md) {
						width: 24px;
						margin-left: 10px;
					}
				}
			}

			.richart{
				position: absolute;
				right: -7%;
				top: -80px;
				width: 120px;

				@media (min-width: $media_md) {
					top: -170px;
					width: 210px;
				}

				.body{
					position: absolute;
					left: 0;
					top: 0;
					z-index: 10;
				}

				.hand{
					position: absolute;
					left: -17%;
    			top: 34%;
					width: 80%;
					z-index: 30;
				}
			}
		}
	}
}

.step, .extra{
	.title{
		margin-bottom: 4%;

		h3{
			display: inline-block;
			font-size: 24px;
			font-weight: 600;
			line-height: 1.4;
			position: relative;

			&::after{
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 100%;
				height: 2px;
				background-color: #0bc7d2;
				@include border-radius(10px);

				@media (min-width: $media_md) {
					bottom: -6px;
					height: 4px;
				}
			}

			@media (min-width: $media_md) {
				font-size: 46px;
			}
		}
	}

	.btn-go{
		color: white;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		text-emphasis: none;
		white-space: nowrap;
		background-color: #008cd6;
		margin-top: 4%;
		padding: 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 20;
		@include border-radius(200px);

		@media (min-width: $media_md) {
			margin-top: 2%;
			padding: 15px 30px;
			font-size: 24px;
		}

		&:hover, &:active, &:focus{
			text-decoration: none;
		}

		.arrow{
			width: 16px;
			margin-left: 6px;
			animation: btnArrow 1s infinite ease-out;

			@media (min-width: $media_md) {
				width: 24px;
				margin-left: 10px;
			}
		}
	}
}

.step{
	.btn-go{
		letter-spacing: 0px;
	}
}

.step{
	margin-top: -12%;

	.content{
		background: url('../images/step/bg_txt.png') no-repeat;
		background-size: 18% auto; 
		background-color: #e4f1fc;
		padding-bottom: 20%;
		padding-top: 8%;

		@media (min-width: $media_md) {
			background-size: 12% auto; 
		}

		.step-by-step{
			margin-bottom: 2%;

			.step-con{
				padding: 0 1%;
				padding-top: 172%;

				@media (min-width: $media_sm) {
					padding-top: 58%;
				}

				img{
					position: absolute;
					left: 3%;
					top: 0;
					width: 94%;
				}

				.frame_1, .frame_2, .frame_3{
					opacity: 0;
				}

				.step_1_1, .step_1_2, .step_1_3, 
				.step_2_1, .step_2_2, 
				.step_3_1, .step_3_2{
					opacity: 0;
				}

				.hightlight_1_1{
					opacity: 0;
					width: 104%;
					left: -2%;
					top: 70%;
				}

				.hightlight_1_2{
					opacity: 0;
					width: 80%;
					left: 10%;
					top: 62%;
				}

				.hightlight_1_3{
					opacity: 0;
					width: 104%;
					left: -2%;
					top: 30%;
				}

				.hightlight_2_1{
					opacity: 0;
					width: 104%;
					left: -2%;
					top: 26%;
				}

				.hightlight_2_2{
					opacity: 0;
					width: 104%;
					left: -2%;
					top: 25%;
				}

				.hightlight_3_1{
					opacity: 0;
					width: 104%;
					left: -2%;
					top: 60%;
				}
			}
		}
	}
}

.extra{
	margin-top: -8%;

	.content{
		background-color: #008cd6;
		padding-bottom: 1%;

		.content-con{
			position: relative;
			margin-top: -12%;
			padding: 4%;

			.bg-1{
				position: absolute;
				left: 18px;
				top: -18px;
				width: 100%;
				height: 100%;
				background: url(../images/extra/bg_dot.png);
				background-size: 10px auto;
				z-index: 3;
			}
			.bg-2{
				position: absolute;
				left: 0%;
				top: 0%;
				width: 100%;
				height: 100%;
				background-color: white;
				@include border-radius(20px);
				z-index: 5;
			}

			.bg-content{
				position: relative;
				z-index: 10;
			}

			.title{
				h3{
					font-size: 20px;

					@media (min-width: $media_md) {
						font-size: 46px;
					}
				}

				.anchor{
					position: relative;

					.icon{
						position: absolute;
						right: -46%;
						top: -90%;
						width: 42%;
	
						@media (min-width: $media_md) {
							right: -38%;
							top: -68%;
							width: 36%;
						}
					}
				}
			}

			.txt-1{
				font-size: 18px;
				letter-spacing: 4px;

				@media (min-width: $media_md) {
					font-size: 26px;
				}
			}

			.txt-2{
				font-size: 20px;
				font-weight: 600;

				@media (min-width: $media_md) {
					font-size: 30px;
				}
			}

			.btn-go{
				margin: 4% 0;
			}
		}

		.rule-con{
			margin-top: 4%;

			.title{
				position: relative;
				color: white;
				line-height: 1;
				font-size: 20px;
				font-weight: 600;
				padding-left: 20px;
				margin-top: 16%;

				span{
					font-size: 14px;
					font-weight: 300;

					@media (min-width: $media_md) {
						font-size: 20px;
					}
				}

				@media (min-width: $media_md) {
					font-size: 30px;
					margin-top: 0%;
				}

				&::before{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 4px;
					height: 100%;
					background-color: #fed530;
					-moz-border-radius: 30px;
					-webkit-border-radius: 30px;
					border-radius: 30px;
				}
			}

			.rule{
				color: white;
				font-size: 14px;

				p{
					position: relative;
					padding-left: 30px;
					
					span{
						position: absolute;
						left: 23px;
						top: 0;
						margin-left: -23px;
					}

					span.num{
						width: 23px;
						height: 23px;
						color: black;
						font-weight: bold;
						text-align: center;
						background-color: #fed530;
						@include border-radius(20px);
					}

					span.dot{
						left: 30px;
						top: 11px;
						width: 6px;
						height: 6px;
						background-color: #fed530;
						@include border-radius(20px);
					}
				}
			}

			.richart{
				position: absolute;
				left: -5%;
				top: -18%;
				width: 35%;
				z-index: 50;

				@media (min-width: $media_md) {
					left: -28%;
					top: -40%;
				}
			}
		}
	}
}

.copyright{
	color: white;
	font-size: 12px;
	letter-spacing: 0;
	margin-top: 8%;
	padding: 0 20px;
}

.btn-cfa{
	position: fixed;
	right: 10px;
	top: 70%;
	width: 80px;
	z-index: 100;

	@media (min-width: $media_sm) {
		right: 30px;
		top: 80%;
		width: 100px;
	}

	.hand{
		position: absolute;
		left: 0%;
    top: 50%;
		width: 60%;
		animation: handMotion 1s infinite;
		transform-origin: 90% 20%;
	}

	.txt{
		position: absolute;
		left: 22%;
    top: 72%;
    width: 63%;
	}

	@keyframes handMotion {
		0%{@include transform(rotate(0))}
		50%{@include transform(rotate(8deg))}
		100%{@include transform(rotate(0))}
	}
}

.event-rule{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 900;
	opacity: 0;
	visibility: hidden;

	.outer{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 90%;
		height: 70%;
		max-width: 1440px;
		background-color: white;

		@include border-radius(20px);
		@include translate(-50%, -50%);

		.btn-close{
			position: absolute;
			right: 0;
			top: -40px;
			width: 20px;
		}

		.rule-content{
			position: absolute;
			left: 20px;
			top: 20px;
			width: calc(100% - 40px);
			height: calc(100% - 40px);
			overflow: auto;

			.title{
				position: relative;
				line-height: 1;
				font-size: 20px;
				font-weight: 600;
				padding-left: 20px;
				margin-top: 0%;

				@media (min-width: $media_md) {
					font-size: 30px;
				}

				&::before{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 4px;
					height: 100%;
					background-color: #c7e434;
					-moz-border-radius: 30px;
					-webkit-border-radius: 30px;
					border-radius: 30px;
				}
			}

			.rule{
				font-size: 12px;

				@media (min-width: $media_md) {
					font-size: 14px;
				}

				p{
					position: relative;
					padding-left: 30px;
					
					span{
						position: absolute;
						left: 23px;
						top: 0;
						margin-left: -23px;
					}

					span.num{
						width: 21px;
						height: 21px;
						color: black;
						font-weight: bold;
						text-align: center;
						background-color: #c7e434;
						@include border-radius(20px);

						@media (min-width: $media_md) {
							width: 23px;
							height: 23px;
						}
					}

					span.dot{
						left: 30px;
						top: 11px;
						width: 6px;
						height: 6px;
						background-color: #c7e434;
						@include border-radius(20px);
					}
				}
			}
		}
	}
}

@keyframes btnArrow{
	0%{@include translateX(0)}
	30%{@include translateX(10px)}
	90%{@include translateX(10px)}
	0%{@include translateX(0)}
}